@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

body {
  background-color: black !important;
}

.brend {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 50px;
}

.anim {
  transition-duration: 100s !important;
}

.shimmer {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #333333d2 0%,
    #414141 20%,
    #333333d2 40%,
    #333333d2 100%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
  font-family: "Courier New", Courier, monospace;
}

.tv-lines {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 1%,
    rgba(0, 0, 0, 0.1) 1%,
    rgba(0, 0, 0, 0.1) 2%
  );
  animation: tv-static 0.05s steps(10) infinite;
}

@keyframes tv-static {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* The draggable part of the scrollbar */

body::-webkit-scrollbar-thumb {
  background-color: white; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

body::-webkit-scrollbar-track {
  background-color: black; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners of the track */
}

body::-webkit-scrollbar-corner {
  background-color: black; /* Color of the scrollbar corner */
}

d {
  background-color: #4c00bf;
}
